body {
    background: url("/images/background/03.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    background: #FFFFFF;
}

.navbar-brand{
    height: 50px;
}

.navbar-brand img{
    height: 80px;
    margin: -20px 0 0 0;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 15px 0px rgba(50, 50, 50, 0.75);
    border-radius: 40px;
}